body {
  background-color: black;
  color: #aaaaaa;
  font-family: "Courier New", Courier, monospace;
}

#error {
  color: #ff4136;
  display: none;
}

#url-form, #torrent-file-form {
  display: none;
}

.details {
  display: none;
}
